<footer class="main-footer pt-90">

  <section>

    <div class="container">
      <div class="row">

        <div class="lqd-column col-md-3 col-sm-6">
<!-- Main Nav list -->
          <h3 class="widget-title font-size-20">Main Navigation</h3>
          <ul class="lqd-custom-menu reset-ul font-size-14 lh-2">
            <li><a href="/">Homepage</a></li>
            <li><a href=" /portfolio.html">Portfolio</a></li>
            <li><a href="/services.html">Services</a></li>
            <li><a href="/contact.html">Contact Us</a></li>
          </ul>

        </div><!-- /.col-md-3 col-sm-6 -->

<!-- Branded eCommerece list -->
        <div class="lqd-column col-md-3 col-sm-6">

          <h3 class="widget-title font-size-20">Branded eCommerce</h3>
          <ul class="lqd-custom-menu reset-ul font-size-14 lh-2">
            <li><a href="#">Brand Experience</a></li>
            <li><a href="#">Platform & Positioning</a></li>
            <li><a href="#">Trends & Insights</a></li>
            <li><a href="#">Marketing Strategy</a></li>
          </ul>

        </div><!-- /.col-md-3 col-sm-6 -->
<!-- Digital Eperience list -->
        <div class="lqd-column col-md-3 col-sm-6">

          <h3 class="widget-title font-size-20">Digital Experience</h3>
          <ul class="lqd-custom-menu reset-ul font-size-14 lh-2">
            <li><a href="#">Web Design</a></li>
            <li><a href="#">Mobile App Design</a></li>
            <li><a href="#">UX / UI design</a></li>
            <li><a href="#">Dashboard & Tool</a></li>
          </ul>

        </div><!-- /.col-md-3 col-sm-6 -->
<!-- Branding Strategy List -->
        <div class="lqd-column col-md-3 col-sm-6">

          <h3 class="widget-title font-size-20">Branding Strategy</h3>
          <ul class="lqd-custom-menu reset-ul font-size-14 lh-2">
            <li><a href="#">Logo & Identity</a></li>
            <li><a href="#">Content Management</a></li>
            <li><a href="#">System & guides</a></li>
            <li><a href="#">Communications</a></li>
          </ul>

        </div><!-- /.col-md-3 col-sm-6 -->

      </div><!-- /.row -->
    </div><!-- /.container -->

  </section>

  <section class="bt-fade-white-015 pt-100 pb-60">
    <div class="container">
      <div class="row d-flex flex-wrap align-items-center">

        <div class="lqd-column col-md-4 col-xs-6">

          <figure class="mb-60 mb-md-0">
            <img src="./assets/img/logo/logo_brightplum.png" alt="Bright Plum Inc.">
          </figure>

        </div><!-- /.col-md-4 -->

        <div class="lqd-column col-md-4 col-xs-6 text-right text-md-center">
            <ul class="lqd-custom-menu reset-ul font-size-14 lh-2">
                <li>Fredric Mitchell</li>
                <li>708) 365-9711</li>
                <li>Fredric@brightplum.com</li>
            </ul>
          <p class="font-size-14 mb-60 mb-md-0">© 2019<span class="font-weight-bold text-secondary">Ave</span>. All Rights Reserved.</p>

        </div><!-- /.col-md-4 -->

        <div class="lqd-column col-md-4 col-xs-12 text-center text-md-right">

            <ul class="social-icon branded-text social-icon-md">
              <li><a href="#" target="_blank"><i class="fa fa-facebook"></i></a></li>
              <li><a href="#" target="_blank"><i class="fa fa-twitter"></i></a></li>
              <li><a href="#" target="_blank"><i class="fa fa-behance"></i></a></li>
              <li><a href="#" target="_blank"><i class="fa fa-dribbble"></i></a></li>
            </ul>

        </div><!-- /.col-md-4 -->

      </div><!-- /.row -->
    </div><!-- /.container -->
  </section>

</footer><!-- /.main-footer -->
