---
layout: default
---
<!-- left different layouts on home page for further manipulation with content -->


<section id="Events" class="vc_row pt-70 pb-70">
    <div class="container">
        <div class="row d-flex flex-wrap align-items-center">

            <div class="lqd-column col-md-6" data-custom-animations="true" data-ca-options='{"triggerHandler":"inview","animationTarget":"all-childs","duration":"1200","delay":"150","easing":"easeOutQuint","direction":"forward","initValues":{"translateY":31,"translateZ":-108,"opacity":0},"animations":{"translateY":0,"translateZ":0,"opacity":1}}'>

                <figure>
                    <!--							possible logo above Past Events-->
                    <!--							<img src="assets/img/logo/logo-1.svg" alt="Ave">-->
                </figure>

                <h2
                        class="mt-2 mb-3 font-weight-normal lh-1"
                        data-fittext="true"
                        data-fittext-options='{ "compressor": 0.65, "maxFontSize": 72, "minFontSize": 46 }'
                        data-split-text="true"
                        data-split-options='{"type":"lines"}'
                >
                    <strong>Past</strong> Events <br>

                </h2>

                <p class="h3 font-weight-normal pr-md-7 mr-md-7 mb-40"><i></i></p>

                <p class="pr-md-7 mr-md-7 mb-60"></p>

                <!--							Button option-->
                <!--						<a href="#" class="btn btn-solid text-uppercase btn-md circle btn-bordered border-thin font-size-14 font-weight-bold ltr-sp-025 px-2" data-localscroll="true" data-localscroll-options='{"scrollBelowSection":true}'>-->
                <!--							<span>-->
                <!--								<span class="btn-txt">More about Droplet</span>-->
                <!--							</span>-->
                <!--						</a>-->

            </div><!-- /.col-md-6 -->

            <div class="lqd-column col-md-5 col-md-offset-1">

                <div class="lqd-parallax-images">

                    <div class="liquid-img-group-single" data-shadow-style="4" data-inview="true" data-animate-shadow="true">
                        <div class="liquid-img-group-img-container">
                            <div class="liquid-img-container-inner"
                                 data-parallax="true"
                                 data-parallax-from='{"translateY":78}'
                                 data-parallax-to='{"translateY":-78}'
                                 data-parallax-options='{"overflowHidden":false,"easing":"linear"}'
                            >
                                <figure>
                                    <img src="/banner/Velocity.png" alt="Good Design" />
                                </figure>
                            </div><!-- /.liquid-img-container-inner -->
                        </div><!-- /.liquid-img-group-img-container -->
                    </div><!-- /.liquid-img-group-single -->

                    <div class="liquid-img-group-single w-75" data-shadow-style="4" data-inview="true" data-animate-shadow="true">
                        <div class="liquid-img-group-img-container">
                            <div class="liquid-img-container-inner"
                                 data-parallax="true"
                                 data-parallax-from='{"translateY":107}'
                                 data-parallax-to='{"translateY":-134}'
                                 data-parallax-options='{"overflowHidden":false,"easing":"linear"}'
                            >
                                <figure>
                                    <img src="/banner/RevisionPath.png" alt="Good Design" />
                                </figure>
                            </div><!-- /.liquid-img-container-inner -->
                        </div><!-- /.liquid-img-group-img-container -->
                    </div><!-- /.liquid-img-group-single -->

                </div><!-- /.lqd-parallax-images -->

            </div><!-- /.col-md-5 col-md-offset-1 -->

        </div><!-- /.row -->
    </div><!-- /.container -->
</section>


