<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
<!-- Page style -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="theme-color" content="#3ed2a7">

    <link rel="shortcut icon" href="./favicon.png" />
    <!-- stylesheets -->
    <link rel="stylesheet" href="https://use.typekit.net/qxb8htk.css">


    <link rel="stylesheet" href="theme_forest/ave-html/assets/vendors/liquid-icon/liquid-icon.min.css" />
    <link rel="stylesheet" href="theme_forest/ave-html/assets/vendors/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" href="theme_forest/ave-html/assets/css/theme-vendors.min.css" />
    <link rel="stylesheet" href="theme_forest/ave-html/assets/css/theme.min.css" />
    <link rel="stylesheet" href="theme_forest/ave-html/assets/css/themes/original.css" />
  </head>
  <body data-mobile-nav-trigger-alignment="right" data-mobile-nav-align="left" data-mobile-nav-style="modern" data-mobile-nav-shceme="gray" data-mobile-header-scheme="gray" data-mobile-nav-breakpoint="1199">
<!-- End page Style -->

<!-- Page content -->
  	<div id="wrap">

  		<header class="main-header main-header-overlay" data-react-to-megamenu="true" data-sticky-header="true" data-sticky-options='{ "stickyTrigger": "first-section" }'>
        {% include navigation.html %}
  		</header><!-- /.main-header -->

        <div class="mainbar-wrap">
      		<main id="content" class="content">
            <br>
              {{content }}

          </main>
        </div>
  <script src="./assets/vendors/jquery.min.js"></script>
  <script src="./assets/js/theme-vendors.js"></script>
  <script src="./assets/js/theme.min.js"></script>
  <script src="./assets/js/liquidAjaxMailchimp.min.js"></script>
<!-- End Page content -->
  </body>
</html>
