<!doctype html>
<html lang="en">
{% include head.html %}
  <style>
    .grayscale-100 {
      filter: grayscale(100%);
    }
    .logo-img {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 50%;
      height: 100px;
    }
  </style>


  <body data-mobile-nav-trigger-alignment="right" data-mobile-nav-align="left" data-mobile-nav-style="modern" data-mobile-nav-shceme="gray" data-mobile-header-scheme="gray" data-mobile-nav-breakpoint="1199">



  	<div id="wrap">
            {% include header.html %}

        <div class="mainbar-wrap">
      		<main id="content" class="content">
            <section
                class="vc_row fullheight d-flex flex-wrap align-items-end mb-80"
                data-parallax="true"
                data-parallax-options='{"parallaxBG":true}'
                data-slideshow-bg="true"
                data-slideshow-options='{"delay":3000,"effect":"scale","imageArray":["./banner/cloud-gate-1569012.jpg","./banner/photo-of-buildings-1823681.jpg"]}'
              >

                <span class="row-bg-loader">
                  <span class="row-bg-loader-inner"></span>
                </span>

                <div class="container">
                  <div class="row">

                    <div class="lqd-column col-md-10 col-md-offset-1 text-center py-7" data-custom-animations="true" data-ca-options='{"triggerHandler":"inview","animationTarget":"all-childs","duration":"1200","delay":"150","easing":"easeOutQuint","direction":"forward","initValues":{"translateY":31,"translateZ":-108,"opacity":0},"animations":{"translateY":0,"translateZ":0,"opacity":1}}'>

                      <header class="fancy-title">
                        <h6 class="text-uppercase font-weight-normal ltr-sp-2 text-white mb-5"></h6>
                        <h2 class="text-white lh-15 mb-4"><span class="font-size-3-3x lh-1"> Bright Plum</span></h2>

                        <div class="row">
                          <div class="lqd-column col-md-8 col-md-offset-2">

                            <p class="text-white font-size-24 mb-1">Creative Engineering. Exceptional Service</p>

                          </div><!-- /.col-md-8 col-md-offset-2 -->
                        </div><!-- /.row -->

                      </header><!-- /.fancy-title -->

                      <a href="portfolio.html" class="btn btn-solid text-uppercase circle btn-bordered border-thin font-size-16 font-weight-bold ltr-sp-05 px-2 bg-hover-white text-hover-black mb-2" data-localscroll="true" data-localscroll-options='{"scrollBelowSection":true}'>
                        <span>
                          <span class="btn-txt">Our Services</span>
                        </span>
                      </a>

                    </div><!-- /.col-md-10 col-md-offset-1 text-center -->

                  </div><!-- /.row -->
                </div><!-- /.container -->

                <div class="bg-gray col-xs-12 px-0 pb-0 pt-5">

                  <div class="container">
                    <div class="row">

                      <div class="lqd-column col-md-12">

                        <div class="carousel-container carousel-nav-left carousel-nav-md carousel-dots-style1">

                          <div class="carousel-items row" data-lqd-flickity='{"cellAlign":"left","prevNextButtons":false,"buttonsAppendTo":"self","pageDots":false,"groupCells":false,"wrapAround":true,"autoPlay":3000,"pauseAutoPlayOnHover":false}'>

                            {% for item in site.data.logos %}

                            <div class="lqd-column carousel-item  col-md-2 col-sm-3 col-xs-4">
                              <figure class="text-center grayscale-100 logo-img opacity-02">
                                <img src=" {{ item.image }}"  alt="Bright PLum Inc.">
                              </figure>
                            </div><!-- /.carousel-item -->

                            {% endfor %}

                          </div><!-- /.carousel-items row -->

                        </div><!-- /.carousel-container -->

                      </div><!-- /.col-md-12 -->

                    </div><!-- /.row -->
                  </div><!-- /.container -->

                </div>

              </section>
            <br>
              {{content }}

          </main>
          {% include footer.html %}
        </div>

        <script src="./assets/vendors/jquery.min.js"></script>
        <script src="./assets/js/theme-vendors.js"></script>
        <script src="./assets/js/theme.min.js"></script>

<!-- End Page content -->

  </body>
</html>
