---
layout: default
---
<!-- CONTENT -->
<section class="vc_row pt-60 pb-60">
  <div class="container">
    <div class="row">
      <div class="lqd-column col-12">
        <h4
          class="mt-2 mb-3 font-weight-normal lh-1"
          data-fittext="true"
          data-fittext-options='{ "compressor": 0.65, "maxFontSize": 72, "minFontSize": 46 }'
          data-split-text="true"
          data-split-options='{"type":"lines"}'
        >
          <strong> {{ page.title }}</strong><br>
        </h4>
        <p>{{ content }}</p>

        </div>
      </div><!-- row-->
    </div><!-- container -->
  </section><!-- section vc_row pt-60 pb-60 -->
<!-- /CONTENT -->
