---
layout: default
---

<!-- Filter -->

    <section id="blog" class="vc_row pt-44 pb-94">

      <div class="container">
        <div class="row">

          <div class="lqd-column col-md-8 col-md-offset-2 text-center py-7" data-custom-animations="true">

            <header class="fancy-title text-center mb-7">
              <h6 class="font-size-14 font-weight-bold text-uppercase text-secondary"></h6>
              <h2><span class="font-size-1-6x">Our Work</span></h2>
<!-- filter -->

<!-- Portfolio for loop -->
  {% assign portfolio_items = site.data.portfolio | sort:"order" %}
  {% for item in portfolio_items %}
  {% if item.title %}
            </header>

          </div><!-- /.col-md-8 col-md-offset-2 -->

          <div class="lqd-column col-md-12">

            <div class="liquid-blog-posts">

              <div class="liquid-blog-grid row">

                <div class="lqd-column col-md-4">
                  <article class="liquid-lp">
                    <figure class="liquid-lp-media ">
                      <a href="{{ item.website }}">
                        <img src="{{ item.img_url }}" alt="BrightPlum Inc.">
                      </a>
                    </figure>
                    <header class="liquid-lp-header">
                      <span class="screen-reader-text">Tags </span>
                      <ul class="liquid-lp-category ">
                        <li><a href="#" rel="category">website</a></li>
                      </ul>
                      <h2 class="entry-title liquid-lp-title h5 text-uppercase font-weight-bold">
                        <a href="{{ item.website }}" rel="bookmark">{{ item.title }}</a>
                      </h2>
                        <p> {{ item.content }}</p>
                    </header>
                  </article>

                </div><!-- /.col-md-4 -->


              </div><!-- /.liquid-blog-grid -->

            </div><!-- /.liquid-blog-posts -->

          </div><!-- /.col-md-12 -->

        </div><!-- /.row -->
      </div><!-- /.container -->
    </section>

  {% endif %}
  {% endfor %}

<!-- End of Porfolio forloop  -->
