
---
layout: default
---

<!-- PROJECT -->
<div class="container">
  <div class="col-md-12">
      <h1 class="title">{{ page.title }}</h1>

      <!-- IMAGE CAROUSEL -->
      <div class="owl-slider">
          <img src="{{ page.image}}" alt="">
      </div>
      <!-- /IMAGE CAROUSEL -->

      <!-- button for more info -->
      <a href="https://www.musicinst.org/" class="btn btn-solid text-uppercase circle btn-bordered border-thin font-size-16 font-weight-bold ltr-sp-05 px-2 bg-hover-white text-hover-black mb-2" data-localscroll="true" data-localscroll-options='{"scrollBelowSection":true}'>
        <span>
          <span class="btn-txt">View the project</span>
        </span>
      </a>

      <!-- Button for more info -->
      <div class="text-center p100 mb50">
          <p class="separator"></p>
          <p>{{ content }}</p>

      </div>

  </div>
</div>
<!-- /PROJECT -->
